<h1> Listando Supermercados </h1>

<table>
  <tr>
    <th>Supermercados por Región</th>
  </tr>
  <% @supermercados.each do |region, supermercado| %>
    <tr>

      <td><%= region %></td>
      <% supermercado.each do |local| %>
      <tr>
        <td></td>
        <td><%= link_to local.nombre, local %></td>
      </tr>
      <% end %>
    </tr>

  <% end %>
</table>

<%= link_to "Crear Nuevo Supermercado", :controller => :supermercado, :action => :new %>